.dayEvents{
    width: 100%;
}

.addEvent{
    height: 100%;
    border: 1px solid #c2bcbc;
    cursor: pointer;
    border-radius: 5px;
    font-style: oblique;
}

.addEvent.faded{
    display: none;
}

.createButtonDiv{
    display: flex;
    justify-content: flex-end;
}

.currentDay{
    background-color: #03a9f45c;
    border-radius: 10px;
}

.dialogTop{
    display: flex;
    justify-content: center;
}

.scrollable-documents{
    overflow-y: auto;
    max-height: calc(100vh / 9 * 0.75);
}

.scrollable-documents::-webkit-scrollbar {
    width: 0;
}

.scrollable-documents::-webkit-scrollbar-thumb {
    background-color: transparent;
}